[phases.setup]
nixPkgs = ["python3", "mariadb"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn backend_calories_calc.wsgi:application --bind 0.0.0.0:$PORT"
