[phases.setup]
# Corregido: 'pip' se elimina. El paquete 'python3' es suficiente.
nixPkgs = [
    "python3",
    "mariadb" 
]

[phases.install]
# Esta línea está bien y funcionará una vez que la compilación de setup pase.
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn backend_calories_calc.wsgi:application --bind 0.0.0.0:$PORT"