[nixpacks]
entrypoint = "bash start.sh"

[phases.setup]
nixPkgs = ["python3", "pip"]

[phases.install]
cmds = [
  "python3 -m venv /opt/venv",
  "source /opt/venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "echo 'Build completo'"
]

[start]
cmd = "bash start.sh"
