# railway.toml

[build]
builder = "nixpacks"

[nixpacks]
# Paquetes necesarios para construir Django
packages = [
  "python3",
  "python310Packages.pip",
  "python310Packages.virtualenv",
  "pkg-config",
  "mariadb",
  "mariadb-connector-c",
]

[phases.install]
cmds = [
  "python3 -m venv .venv",
  ". .venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = ". .venv/bin/activate && gunicorn backend_calories_calc.wsgi:application --bind 0.0.0.0:$PORT"
